# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/projectSettingsUpdater.xml
/modules.xml
/.idea.TFMUnderSDK5Check.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Anastasiia.Posulikhi\RiderProjects\TFMUnderSDK5Check\.idea\.idea.TFMUnderSDK5Check\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
